.search-bar {
  padding: 1rem;
}

.search-input {
  background-color: rgba(90, 90, 90, 0.703);
  border: none;
  border-radius: 0.5rem;
  color: whitesmoke;
  font-weight: 200;
  padding: 0.25rem 0 0.25rem 0.5rem;
}
